body {
    display: flex;
    justify-content: center;
    padding: 40px;
    background: white;
    font-family: sans-serif;
}

.wrapper {
    text-align: center;
}

.labels span {
    display: inline-block;
    width: 50px;
    margin-bottom: 8px;
    font-weight: bold;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.box {
    width: 50px;
    height: 50px;
}

.box:nth-child(16n + 1),
.box:nth-child(16n + 3),
.box:nth-child(16n + 5),
.box:nth-child(16n + 7),
.box:nth-child(16n + 10),
.box:nth-child(16n + 12),
.box:nth-child(16n + 14),
.box:nth-child(16n + 16) {
    background-color: #b58863;
}

.box:nth-child(16n + 2),
.box:nth-child(16n + 4),
.box:nth-child(16n + 6),
.box:nth-child(16n + 8),
.box:nth-child(16n + 9),
.box:nth-child(16n + 11),
.box:nth-child(16n + 13),
.box:nth-child(16n + 15) {
    background-color: #f0d9b5;
}
