ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

a:link, a:visited {
    display: flex;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    background-color: black;
    width: 200px;
    padding: 8px;
    text-decoration: none;
    align-items: center;
    justify-content: center;

}

a:hover, a:active{
    background-color: #808080;
    
}