*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 45px;
    padding: 32px;
}

.container{
    display:flex;
    flex-direction: column;
    gap:16px;

}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid black;
    border-radius: 8px;
    width: 300px;
    margin: 16px;
}



