* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 700px;
}

.input-group {
    margin: 10px;
}

.submit-button {
    margin: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;       
}


.input-group input {
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.submit-button {
    padding: 10px 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;

    flex: 1 1 100%;  
}